# Compilación
bin/
obj/

# IDEs
*.user
*.suo
*.userosscache
*.sln.docstates

# Paquetes NuGet
packages/
*.nupkg
*.snupkg

# Archivos temporales
*.log
*.tmp
*.cache
*.db

# Archivos del sistema
.DS_Store
Thumbs.db

# Compilados
*.exe
*.dll
*.pdb
*.mdb
*.apk
*.aab

# Configuración local
launchSettings.json
